## LAB - S10-L003 - excel

1. Zaimportuj moduł pandas i numpy nadaj im standardowe aliasy
2. Do zmiennej mcdonalds zaimportuj plik mcdonalds.csv, pobierz tylko kolumny
Category, Item, Calories i TotalFat
3. Korzystając z context managera otwórz do zapisu plik mcdonalds-excel.xlsx. Plik
jest otwierany na zapis mode = "w". Zmienna excelWriter będzie widoczna tylko w tej
komórce w kodzie znajdującym się poniżej bloku with, dlatego wstrzymaj się z
uruchomieniem tej linijki - najpierw, w tej komórce poniżej wpisz komendę opisaną w
następnym kroku
with pd.ExcelWriter("mcdonalds-excel.xlsx", mode="w") as excelWriter:
4. Zapisz zawartość zmiennej mcdonalds do excelWriter. Nowy arkusz ma się nazywać
Menu. Indeks nie powinien być zapisywany. Uruchom kod tej komórki.
5. Uruchomienie komórki otworzyło, zapisało dane i zamknęło plik. Możesz sprawdzić,
jak wygląda teraz plik, ale po takim sprawdzeniu pamiętaj aby zamknąć Excela, bo
inaczej dostęp do pliku może być zablokowany i kolejne komendy skończą się błędem.
6. Do zmiennej imported1 zaimportuj ze skoroszytu mcdonalds-excel.xlsx arkusz
Menu.
7. Zaktualizuj w imported zawartość kolumny Calories dzieląc ją przez 2. W ten sposób
dostaniesz nieco lżejsze menu :)
8. Korzystając z podobnej instrukcji, jak w kroku 3, zapisz zawartość imported1 w
excelWriter, dodając arkusz Menu Light. Ponieważ teraz dane są dopisywane do
istniejącego pliku, to tryb "w" (write) powinien zostać zmieniony na "a" (append).
9. Zaktualizuj w imported1 zawartość kolumny Calories dzieląc ją ponownie przez 2. W
ten sposób dostajemy znowu mniej kaloryczne dania :)
10. Znowu korzystając z instrukcji, jak w kroku 8, zapisz zawartość imported1 w
excelWriter, dodając arkusz Menu Extra Light
11. Do zmiennej final wczytaj zawartość wszyskich arkuszy ze skoroszytu mcdonaldsexcel.xls
12. Sprawdź ile masz obiektów data frame w zmiennej final, wyświetlając jej długość
13. Wyświetl nagłówek zerowego, pierwszego i drugiego arkusza. Czy widzisz
zmniejszającą się ilość kalorii w kolejnych arkuszach?

In [1]:
import pandas as pd
import numpy as np

In [4]:
mcdonald = pd.read_csv('../zasoby/Mcdonalds.csv', usecols=['Category', 'Item', 'Calories', 'TotalFat'])

In [6]:
with pd.ExcelWriter(path='../zasoby/mcdonalds-excel.xlsx', mode='w') as excelWriter:
     mcdonald.to_excel(excelWriter, sheet_name="Menu",index=False)

In [7]:
imported1 = pd.read_excel('../zasoby/mcdonalds-excel.xlsx', sheet_name='Menu')

In [8]:
imported1.head()

    Category                              Item  Calories  TotalFat
0  Breakfast                      Egg McMuffin       300      13.0
1  Breakfast                 Egg White Delight       250       8.0
2  Breakfast                  Sausage McMuffin       370      23.0
3  Breakfast         Sausage McMuffin with Egg       450      28.0
4  Breakfast  Sausage McMuffin with Egg Whites       400      23.0

In [10]:
imported1['Calories'] = imported1['Calories'] / 2

In [11]:
imported1.head()

    Category                              Item  Calories  TotalFat
0  Breakfast                      Egg McMuffin     150.0      13.0
1  Breakfast                 Egg White Delight     125.0       8.0
2  Breakfast                  Sausage McMuffin     185.0      23.0
3  Breakfast         Sausage McMuffin with Egg     225.0      28.0
4  Breakfast  Sausage McMuffin with Egg Whites     200.0      23.0

In [13]:
with pd.ExcelWriter(path='../zasoby/mcdonalds-excel.xlsx', mode='a', engine="openpyxl") as excelWriter:
    imported1.to_excel(excelWriter, sheet_name='Light', index=False)

In [14]:
imported1['Calories'] = imported1['Calories'] / 2

In [15]:
with pd.ExcelWriter(path='../zasoby/mcdonalds-excel.xlsx', mode='a', engine='openpyxl') as excelWriter:
    imported1.to_excel(excelWriter, sheet_name='ExtraLight', index=False)

In [21]:
final = pd.read_excel('../zasoby/mcdonalds-excel.xlsx', sheet_name=[0,1,2])

In [23]:
final

{0:                Category                                               Item  \
 0             Breakfast                                       Egg McMuffin
 1             Breakfast                                  Egg White Delight
 2             Breakfast                                   Sausage McMuffin
 3             Breakfast                          Sausage McMuffin with Egg
 4             Breakfast                   Sausage McMuffin with Egg Whites
 ..                  ...                                                ...
 255  Smoothies & Shakes                 McFlurry with Oreo Cookies (Small)
 256  Smoothies & Shakes                McFlurry with Oreo Cookies (Medium)
 257  Smoothies & Shakes                 McFlurry with Oreo Cookies (Snack)
 258  Smoothies & Shakes  McFlurry with Reese's Peanut Butter Cups (Medium)
 259  Smoothies & Shakes   McFlurry with Reese's Peanut Butter Cups (Snack)

      Calories  TotalFat
 0         300      13.0
 1         250       8.0
 2         370      23.0
 3         450      28.0
 4         400      23.0
 ..        ...       ...
 255       510      17.0
 256       690      23.0
 257       340      11.0
 258       810      32.0
 259       410      16.0

 [260 rows x 4 columns],
 1:                Category                                               Item  \
 0             Breakfast                                       Egg McMuffin
 1             Breakfast                                  Egg White Delight
 2             Breakfast                                   Sausage McMuffin
 3             Breakfast                          Sausage McMuffin with Egg
 4             Breakfast                   Sausage McMuffin with Egg Whites
 ..                  ...                                                ...
 255  Smoothies & Shakes                 McFlurry with Oreo Cookies (Small)
 256  Smoothies & Shakes                McFlurry with Oreo Cookies (Medium)
 257  Smoothies & Shakes                 McFlurry with Oreo Cookies (Snack)
 258  Smoothies & Shakes  McFlurry with Reese's Peanut Butter Cups (Medium)
 259  Smoothies & Shakes   McFlurry with Reese's Peanut Butter Cups (Snack)

      Calories  TotalFat
 0       150.0      13.0
 1       125.0       8.0
 2       185.0      23.0
 3       225.0      28.0
 4       200.0      23.0
 ..        ...       ...
 255     255.0      17.0
 256     345.0      23.0
 257     170.0      11.0
 258     405.0      32.0
 259     205.0      16.0

 [260 rows x 4 columns],
 2:                Category                                               Item  \
 0             Breakfast                                       Egg McMuffin
 1             Breakfast                                  Egg White Delight
 2             Breakfast                                   Sausage McMuffin
 3             Breakfast                          Sausage McMuffin with Egg
 4             Breakfast                   Sausage McMuffin with Egg Whites
 ..                  ...                                                ...
 255  Smoothies & Shakes                 McFlurry with Oreo Cookies (Small)
 256  Smoothies & Shakes                McFlurry with Oreo Cookies (Medium)
 257  Smoothies & Shakes                 McFlurry with Oreo Cookies (Snack)
 258  Smoothies & Shakes  McFlurry with Reese's Peanut Butter Cups (Medium)
 259  Smoothies & Shakes   McFlurry with Reese's Peanut Butter Cups (Snack)

      Calories  TotalFat
 0        75.0      13.0
 1        62.5       8.0
 2        92.5      23.0
 3       112.5      28.0
 4       100.0      23.0
 ..        ...       ...
 255     127.5      17.0
 256     172.5      23.0
 257      85.0      11.0
 258     202.5      32.0
 259     102.5      16.0

 [260 rows x 4 columns]}

In [24]:
final[0].head()

    Category                              Item  Calories  TotalFat
0  Breakfast                      Egg McMuffin       300      13.0
1  Breakfast                 Egg White Delight       250       8.0
2  Breakfast                  Sausage McMuffin       370      23.0
3  Breakfast         Sausage McMuffin with Egg       450      28.0
4  Breakfast  Sausage McMuffin with Egg Whites       400      23.0

In [25]:
final[1].head()

    Category                              Item  Calories  TotalFat
0  Breakfast                      Egg McMuffin     150.0      13.0
1  Breakfast                 Egg White Delight     125.0       8.0
2  Breakfast                  Sausage McMuffin     185.0      23.0
3  Breakfast         Sausage McMuffin with Egg     225.0      28.0
4  Breakfast  Sausage McMuffin with Egg Whites     200.0      23.0

In [26]:
final[2].head()

    Category                              Item  Calories  TotalFat
0  Breakfast                      Egg McMuffin      75.0      13.0
1  Breakfast                 Egg White Delight      62.5       8.0
2  Breakfast                  Sausage McMuffin      92.5      23.0
3  Breakfast         Sausage McMuffin with Egg     112.5      28.0
4  Breakfast  Sausage McMuffin with Egg Whites     100.0      23.0