## LAB - S07-L006 - left & right merge

1. Zaimportuj moduł pandas i numpy nadaj im standardowe aliasy
2. Do zmiennej suppliers zaimportuj zawartość pliku suppliers.csv. Pobierz tylko kolumny
SupplierID, CompanyName, City
3. Do zmiennej products zaimportuj zawartość pliku products_del_2.csv". Pobierz tylko
kolumny **ProductID, ProductName, SupplierID
4. Należy odnaleźć tych dostawców z suppliers, którzy nie dostarczają żadnych produktów.
W tym celu wykonuj kolejne kroki
5. W zmiennej sup_prod zapisz wynik zwykłego złaczenia suppliers i products w oparciu o
kolumnę SupplierID. Skorzystaj z parametru indicator.
6. Wyświetl liczbę elementów w suppliers, products i sup_prod. Powinieneś uzyskać
wyniki: 29/68/68
7. W zmiennej sup_prod_left zapisz wynik złączenia typu left z suppliers do products w
oparciu o kolumnę SupplierID. Skorzystaj z prarametru indicator
8. Wyświetl liczbę elementów w suppliers, products i sup_prod_left. Powinieneś uzyskać
wyniki: 29/68/70. Oznacza to, że "idąc od suppliers do products", dla 2 dostawców nie
udało się znaleźć żadnych produktów, które byłyby przez nich dostarczane.
9. Wyświetl te wiersze z sup_prod_left, które w kolumnie "merged posiadają wartość
left_only
10. Jeżeli chcesz tak przekształć operacje 7-9, aby to samo zadanie zrealizować korzystając
z right merge

In [1]:
import pandas as pd
import numpy as np

In [8]:
suppliers = pd.read_csv('../zasoby/nw/suppliers.csv', usecols=['SupplierID', 'CompanyName', 'City'])
products = pd.read_csv('../zasoby/nw/products_del_2.csv', usecols=['ProductID', 'ProductName', 'SupplierID'])

In [10]:
suppliers.head()

   SupplierID                         CompanyName         City
0           1                      Exotic Liquids       London
1           2          New Orleans Cajun Delights  New Orleans
2           3           Grandma Kelly's Homestead    Ann Arbor
3           4                       Tokyo Traders        Tokyo
4           5  Cooperativa de Quesos 'Las Cabras'       Oviedo

In [11]:
products.head()

   ProductID                      ProductName  SupplierID
0          1                             Chai           1
1          2                            Chang           1
2          6     Grandma's Boysenberry Spread           3
3          7  Uncle Bob's Organic Dried Pears           3
4          8       Northwoods Cranberry Sauce           3

In [13]:
sup_prod = suppliers.merge(products, on='SupplierID', how='inner')

In [14]:
print(len(suppliers))
print(len(products))
print(len(sup_prod))

29
68
68

In [15]:
sup_prod_left = suppliers.merge(products, on='SupplierID', how='left', indicator=True)

In [16]:
sup_prod_left.head()

,SupplierID,CompanyName,City,ProductID,ProductName,_merge
0,1,Exotic Liquids,London,1.0,Chai,both
1,1,Exotic Liquids,London,2.0,Chang,both
2,2,New Orleans Cajun Delights,New Orleans,NaN,NaN,left_only
3,3,Grandma Kelly's Homestead,Ann Arbor,6.0,Grandma's Boysenberry Spread,both
4,3,Grandma Kelly's Homestead,Ann Arbor,7.0,Uncle Bob's Organic Dried Pears,both

In [17]:
print(len(suppliers))
print(len(products))
print(len(sup_prod_left))

29
68
70

In [18]:
sup_prod_left.loc[sup_prod_left['_merge'] == 'left_only']

,SupplierID,CompanyName,City,ProductID,ProductName,_merge
2,2,New Orleans Cajun Delights,New Orleans,NaN,NaN,left_only
67,27,Escargots Nouveaux,Montceau,NaN,NaN,left_only

In [19]:
sup_prod_right = suppliers.merge(products, on='SupplierID', how='right', indicator=True)

In [20]:
print(len(suppliers))
print(len(products))
print(len(sup_prod_right))

29
68
68

In [21]:
sup_prod_right.loc[sup_prod_right['_merge'] == 'right_only']

Empty DataFrame
Columns: [SupplierID, CompanyName, City, ProductID, ProductName, _merge]
Index: []