LAB - S02-L008 - Import danych do obiektu series
1. Zaimportuj moduły: pandas, numpy, matplotlib (tylko pyplot), math i nadaj im standardowe aliasy
2. Korzystając z pliku StackOverflowDeveloperSurvey.csv zaimportuj do zmiennej education kolumnę o nazwie "FormalEducation" jako jednokolumnowy obiekt Data Frame
3. Sprawdź typ otrzymanej zmiennej.
4. Wyświetl tylko 5 pierwszych wierszy z education.
5. Powtórz akcję tak jak w pkt. 2, ale tym razem zadbaj o to , aby education było typu data
series.
6. Sprawdź typ otrzymanej zmiennej.
7. Wyświetl 10 ostatnich wierszy z educatoin
8. Do zmiennej allInfo zaimportuj cały plik danych (wszystkie kolumny), jako Data Frame
9. Zainicjuj obiekt country typu data series, pobierając dane z kolumny "Country" obiektu
allInfo.
10. Wyświetl 5 pierwszych wierszy obiektu country
11. (zastosowanie i mała powtórka z poprzednich lekcji) Utwórz serię filterOnlyUSA, która
będzie inicjowana w oparciu o serię countries. filterOnlyUSA ma zawierać w wierszu
wartość True , jeżeli w serii counties wartość to "United States"
12. Wyświetl 5 pierwszych pozycji z serii filterOnlyUSA
13. Wyświetl dane z serii education w taki sposób, że:
pokazywane będą tylko informacje o ukończonej szkole tylko dla osób z country = "United States"
wartości NaN mają być usunięte
należy pokazać tylko 10 górnych wierszy
wszystko to powinno być zrobione w jednym poleceniu (method chaining)

# Import modules

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math

In [2]:
education = pd.read_csv('../zasoby/StackOverflowDeveloperSurvey.csv', usecols=['FormalEducation'])

In [4]:
type(education)

pandas.core.frame.DataFrame

In [5]:
education.head()

                                     FormalEducation
0                                   Secondary school
1  Some college/university study without earning ...
2                                  Bachelor's degree
3                                    Doctoral degree
4                                    Master's degree

In [7]:
education = pd.read_csv('../zasoby/StackOverflowDeveloperSurvey.csv', usecols=['FormalEducation']).squeeze()

In [8]:
type(education)

pandas.core.series.Series

In [9]:
education.tail(10)

51382                                      Master's degree
51383               I never completed any formal education
51384                                    Bachelor's degree
51385                                      Master's degree
51386    Some college/university study without earning ...
51387                                    Bachelor's degree
51388                                      Master's degree
51389    Some college/university study without earning ...
51390                                    Bachelor's degree
51391                                    Bachelor's degree
Name: FormalEducation, dtype: object

In [10]:
all_info = pd.read_csv('../zasoby/StackOverflowDeveloperSurvey.csv')

In [11]:
country = all_info["Country"]

In [12]:
type(country)

pandas.core.series.Series

In [13]:
country.head()

0     United States
1    United Kingdom
2    United Kingdom
3     United States
4       Switzerland
Name: Country, dtype: object

In [18]:
filter_only_USA = country == "United States"

In [20]:
filter_only_USA.head()

0     True
1    False
2    False
3     True
4    False
Name: Country, dtype: bool

In [25]:
education.where(filter_only_USA).dropna().head(10)

0              Secondary school
3               Doctoral degree
6               Master's degree
10            Bachelor's degree
15    Primary/elementary school
17            Bachelor's degree
18            Bachelor's degree
25              Master's degree
27            Bachelor's degree
29            Bachelor's degree
Name: FormalEducation, dtype: object