LAB - S02-L009 - Standardowe metody Pythona a obiekty PANDAS
1. Zaimportuj moduły: pandas, numpy, matplotlib (tylko pyplot), math i nadaj im standardowe aliasy
2. Z pliku StackOverflowDeveloperSurvey.csv wczytaj kolumnę Salary jako Data Series i zapisz ją w zmiennej salary. Wczytując elementy pomiń te ankiety, w których respondenci nie podali kwoty wynagrodzenia (użyj dropna()). Wyświetl 5 pierwszych elementów serii
3. Ile osób odpowiedziało w ankiecie na temat otrzymywanego wynagrodzenia?
4. Jakie jest najmniejsze wynagrodzenie? A jakie jest największe wynagrodzenie?
5. Pięć pierwszych elementów serii zamień na listę (nie zapisuj jej w zmiennej, po prostu
wyświetl)
6. Pięć pierwszych elementów serii zamień na słownik (nie zapisuj go, po prostu wyświetl)
7. W zmiennej listSalarySorted zapisz listę powstałą z posortowania serii salary malejąco
8. Wyświetl pięć pierwszych elementów listy listSalarySorted. (Pamiętaj że to nie seria i
nie zadziała metoda head()
9. Zmień nazwę atrybutu name dla serii salary na "Salary of a person"
10. Wyświetl 5 pierwszych elementów serii salary

In [34]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math

In [35]:
salary = pd.read_csv('../zasoby/StackOverflowDeveloperSurvey.csv', usecols=['Salary']).squeeze().dropna()

In [39]:
print(f'Number of non NaN: {salary.count()}')
print(f'Max salary: {salary.max()}')
print(f'Min salary: {salary.min()}')

Number of non NaN: 12891
Max salary: 197000.0
Min salary: 0.0

In [40]:
list(salary.head())

[113750.0, 100000.0, 130000.0, 82500.0, 100764.0]

In [41]:
dict(salary.head())

{2: 113750.0, 14: 100000.0, 17: 130000.0, 18: 82500.0, 22: 100764.0}

In [44]:
list_salary_sorted = sorted(salary, reverse=True)

In [47]:
list_salary_sorted[:5]

[197000.0, 195000.0, 195000.0, 195000.0, 195000.0]

In [48]:
salary.name = 'Salary of a person'
salary.head()

2     113750.0
14    100000.0
17    130000.0
18     82500.0
22    100764.0
Name: Salary of a person, dtype: float64