## LAB - S05-L008- Multiindex Metadata

1. Zaimportuj moduł pandas i numpy, nadaj im standardowe aliasy. Do zmiennej air wczytaj zawartość pliku Air_Traffic_Passenger_Statistics.csv. Pobierz wszystkie kolumny. Wyświetl nagłówek obiektu data frame.
2. Wyświetl informacje o automatycznie utworzonym indeksie dla obiektu air
3. Zmień indeks na "Operating Airline","Activity Period". Wyświetl 10 pierwszych wierszy
   Wyświetl:
- informacje o indeksie
- informacje o poziomie zerowym indeksu
- informacje o poziomie pierwszym indeksu
- informacje o nazwach segmentów indeksu

4. Zresetuj indeks. Wyświetl nagłówek
5. Zmień indeks na "Activity Period","Operating Airline". Wyświetl 10 pierwszych wierszy
Wyświetl:
- informacje o indeksie
- informacje o poziomie zerowym indeksu
- informacje o poziomie pierwszym indeksu
- informacje o nazwach segmentów indeksu

In [9]:
import pandas as pd
import numpy as np

In [10]:
air = pd.read_csv('../zasoby/Air_Traffic_Passenger_Statistics.csv')
air.head()

,Activity Period,Operating Airline,Operating Airline IATA Code,Published Airline,Published Airline IATA Code,GEO Summary,GEO Region,Activity Type Code,Price Category Code,Terminal,Boarding Area,Passenger Count
0,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Deplaned,Low Fare,Terminal 1,B,27271
1,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Enplaned,Low Fare,Terminal 1,B,29131
2,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Thru / Transit,Low Fare,Terminal 1,B,5415
3,200507,Air Canada,AC,Air Canada,AC,International,Canada,Deplaned,Other,Terminal 1,B,35156
4,200507,Air Canada,AC,Air Canada,AC,International,Canada,Enplaned,Other,Terminal 1,B,34090

In [11]:
air.index

RangeIndex(start=0, stop=18398, step=1)

In [12]:
air.set_index(["Operating Airline","Activity Period"],inplace=True)

In [13]:
air.head()

                                  Operating Airline IATA Code  \
Operating Airline Activity Period
ATA Airlines      200507                                   TZ
                  200507                                   TZ
                  200507                                   TZ
Air Canada        200507                                   AC
                  200507                                   AC

                                  Published Airline  \
Operating Airline Activity Period
ATA Airlines      200507               ATA Airlines
                  200507               ATA Airlines
                  200507               ATA Airlines
Air Canada        200507                 Air Canada
                  200507                 Air Canada

                                  Published Airline IATA Code    GEO Summary  \
Operating Airline Activity Period
ATA Airlines      200507                                   TZ       Domestic
                  200507                                   TZ       Domestic
                  200507                                   TZ       Domestic
Air Canada        200507                                   AC  International
                  200507                                   AC  International

                                  GEO Region Activity Type Code  \
Operating Airline Activity Period
ATA Airlines      200507                  US           Deplaned
                  200507                  US           Enplaned
                  200507                  US     Thru / Transit
Air Canada        200507              Canada           Deplaned
                  200507              Canada           Enplaned

                                  Price Category Code    Terminal  \
Operating Airline Activity Period
ATA Airlines      200507                     Low Fare  Terminal 1
                  200507                     Low Fare  Terminal 1
                  200507                     Low Fare  Terminal 1
Air Canada        200507                        Other  Terminal 1
                  200507                        Other  Terminal 1

                                  Boarding Area  Passenger Count
Operating Airline Activity Period
ATA Airlines      200507                      B            27271
                  200507                      B            29131
                  200507                      B             5415
Air Canada        200507                      B            35156
                  200507                      B            34090

In [14]:
air.index

MultiIndex([(    'ATA Airlines', 200507),
            (    'ATA Airlines', 200507),
            (    'ATA Airlines', 200507),
            (      'Air Canada', 200507),
            (      'Air Canada', 200507),
            (       'Air China', 200507),
            (       'Air China', 200507),
            (      'Air France', 200507),
            (      'Air France', 200507),
            ( 'Air New Zealand', 200507),
            ...
            (  'Virgin America', 201803),
            (  'Virgin America', 201803),
            (  'Virgin America', 201803),
            ( 'Virgin Atlantic', 201803),
            ( 'Virgin Atlantic', 201803),
            ('Volaris Airlines', 201803),
            ('Volaris Airlines', 201803),
            (         'WOW Air', 201803),
            (         'WOW Air', 201803),
            (         'WOW Air', 201803)],
           names=['Operating Airline', 'Activity Period'], length=18398)

In [15]:
air.index.get_level_values(0)

Index(['ATA Airlines', 'ATA Airlines', 'ATA Airlines', 'Air Canada',
       'Air Canada', 'Air China', 'Air China', 'Air France', 'Air France',
       'Air New Zealand',
       ...
       'Virgin America', 'Virgin America', 'Virgin America', 'Virgin Atlantic',
       'Virgin Atlantic', 'Volaris Airlines', 'Volaris Airlines', 'WOW Air',
       'WOW Air', 'WOW Air'],
      dtype='object', name='Operating Airline', length=18398)

In [16]:
air.index.get_level_values(1)

Index([200507, 200507, 200507, 200507, 200507, 200507, 200507, 200507, 200507,
       200507,
       ...
       201803, 201803, 201803, 201803, 201803, 201803, 201803, 201803, 201803,
       201803],
      dtype='int64', name='Activity Period', length=18398)

In [17]:
air.index.names

FrozenList(['Operating Airline', 'Activity Period'])

In [19]:
air.reset_index(inplace=True)

In [20]:
air.head()

,Operating Airline,Activity Period,Operating Airline IATA Code,Published Airline,Published Airline IATA Code,GEO Summary,GEO Region,Activity Type Code,Price Category Code,Terminal,Boarding Area,Passenger Count
0,ATA Airlines,200507,TZ,ATA Airlines,TZ,Domestic,US,Deplaned,Low Fare,Terminal 1,B,27271
1,ATA Airlines,200507,TZ,ATA Airlines,TZ,Domestic,US,Enplaned,Low Fare,Terminal 1,B,29131
2,ATA Airlines,200507,TZ,ATA Airlines,TZ,Domestic,US,Thru / Transit,Low Fare,Terminal 1,B,5415
3,Air Canada,200507,AC,Air Canada,AC,International,Canada,Deplaned,Other,Terminal 1,B,35156
4,Air Canada,200507,AC,Air Canada,AC,International,Canada,Enplaned,Other,Terminal 1,B,34090

In [21]:
air.set_index(keys=["Activity Period","Operating Airline"], inplace=True)

In [22]:
air.head()

                                  Operating Airline IATA Code  \
Activity Period Operating Airline
200507          ATA Airlines                               TZ
                ATA Airlines                               TZ
                ATA Airlines                               TZ
                Air Canada                                 AC
                Air Canada                                 AC

                                  Published Airline  \
Activity Period Operating Airline
200507          ATA Airlines           ATA Airlines
                ATA Airlines           ATA Airlines
                ATA Airlines           ATA Airlines
                Air Canada               Air Canada
                Air Canada               Air Canada

                                  Published Airline IATA Code    GEO Summary  \
Activity Period Operating Airline
200507          ATA Airlines                               TZ       Domestic
                ATA Airlines                               TZ       Domestic
                ATA Airlines                               TZ       Domestic
                Air Canada                                 AC  International
                Air Canada                                 AC  International

                                  GEO Region Activity Type Code  \
Activity Period Operating Airline
200507          ATA Airlines              US           Deplaned
                ATA Airlines              US           Enplaned
                ATA Airlines              US     Thru / Transit
                Air Canada            Canada           Deplaned
                Air Canada            Canada           Enplaned

                                  Price Category Code    Terminal  \
Activity Period Operating Airline
200507          ATA Airlines                 Low Fare  Terminal 1
                ATA Airlines                 Low Fare  Terminal 1
                ATA Airlines                 Low Fare  Terminal 1
                Air Canada                      Other  Terminal 1
                Air Canada                      Other  Terminal 1

                                  Boarding Area  Passenger Count
Activity Period Operating Airline
200507          ATA Airlines                  B            27271
                ATA Airlines                  B            29131
                ATA Airlines                  B             5415
                Air Canada                    B            35156
                Air Canada                    B            34090

In [23]:
air.index.get_level_values(0)

Index([200507, 200507, 200507, 200507, 200507, 200507, 200507, 200507, 200507,
       200507,
       ...
       201803, 201803, 201803, 201803, 201803, 201803, 201803, 201803, 201803,
       201803],
      dtype='int64', name='Activity Period', length=18398)

In [24]:
air.index.get_level_values(1)

Index(['ATA Airlines', 'ATA Airlines', 'ATA Airlines', 'Air Canada',
       'Air Canada', 'Air China', 'Air China', 'Air France', 'Air France',
       'Air New Zealand',
       ...
       'Virgin America', 'Virgin America', 'Virgin America', 'Virgin Atlantic',
       'Virgin Atlantic', 'Volaris Airlines', 'Volaris Airlines', 'WOW Air',
       'WOW Air', 'WOW Air'],
      dtype='object', name='Operating Airline', length=18398)

In [25]:
air.index.names

FrozenList(['Activity Period', 'Operating Airline'])