## LAB - S04-L006-Przygotowanie danych

1. Zaimportuj moduł pandas i numpy, nadaj im standardowe aliasy. Do zmiennej fb wczytaj zawartość pliku mrbean_facebook_statuses_with_nulls.csv. Pobierz wszystkie kolumny. Wyświetl nagłówek obiektu data frame.
2. Sprawdź jakie kolumny ma fb, jakiego typu te kolumny są i ile pamięci zajmuje obiekt.
3. Ponownie wczytaj plik, ale teraz wybierz tylko kolumny: "status_message", "status_type", "link_name", "num_reactions", "num_shares", "num_likes"
4.  Sprawdź jakie kolumny ma fb, jakiego typu te kolumny są i ile pamięci zajmuje obiekt.
5.  Próbujemy optymalizować napisy:
- Sprawdź ile wierszy ma fb
- Sprawdź ile unikalnych wartości występuje w kolumnie status_type
- Wyświetl te unikalne wartości wraz z informacją o ilości powtórzeń
- Zmień typ na category
- Sprawdź ile unikalnych wartości występuje w kolumnie link_name
- Wyświetl te unikalne wartości wraz z informacją o ilości powtórzeń
- Zmień typ na category

6. Sprawdź jakie kolumny ma fb, jakiego typu te kolumny są i ile pamięci zajmuje obiekt.
7. Próbujemy zoptymalizować liczby:
- Zamień wartości NaN na 0 w kolumnach num_reactions i num_shares
- Zmień typ w kolumnach num_reactions, num_shares i num_likes na int

8. Sprawdź jakie kolumny ma fb, jakiego typu te kolumny są i ile pamięci zajmuje obiekt.

In [1]:
import pandas as pd
import numpy as np

In [2]:
fb = pd.read_csv('../zasoby/mrbean_facebook_statuses_with_nulls.csv')
fb.head()

,status_id,status_message,link_name,status_type,status_link,status_published,num_reactions,num_comments,num_shares,num_likes,num_loves,num_wows,num_hahas,num_sads,num_angrys
0,17774451468_10154154735571469,It's time for Mr Bean and Teddy to get ready f...,Mr Bean - Preparing To Go Camping,video,https://youtu.be/fgURU75gTMQ,2016-06-23 11:35:48,16570.0,223.0,338.0,16079,166,6,320,0,0
1,17774451468_10154146584106469,NaN,Timeline Photos,photo,https://www.facebook.com/MrBean/photos/a.10150...,2016-06-21 10:00:01,119886.0,2171.0,1657.0,114008,946,104,4795,16,17
2,17774451468_10154135502911469,NaN,Timeline Photos,photo,https://www.facebook.com/MrBean/photos/a.10150...,2016-06-19 10:00:01,NaN,2395.0,10050.0,218579,2988,188,13992,52,53
3,17774451468_10154138120151469,Mr Bean is ready to do some shopping but bewar...,www.youtube.com,video,https://www.youtube.com/watch?v=58Z8J0PbLS8,2016-06-18 11:00:02,20913.0,214.0,257.0,20338,211,20,336,0,8
4,17774451468_10154135502476469,NaN,Timeline Photos,photo,https://www.facebook.com/MrBean/photos/a.10150...,2016-06-17 09:00:01,223602.0,880.0,2228.0,215591,2872,259,4814,27,39

In [3]:
fb.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   status_id         56 non-null     object
 1   status_message    40 non-null     object
 2   link_name         56 non-null     object
 3   status_type       56 non-null     object
 4   status_link       56 non-null     object
 5   status_published  56 non-null     object
 6   num_reactions     54 non-null     float64
 7   num_comments      55 non-null     float64
 8   num_shares        56 non-null     float64
 9   num_likes         56 non-null     int64
 10  num_loves         56 non-null     int64
 11  num_wows          56 non-null     int64
 12  num_hahas         56 non-null     int64
 13  num_sads          56 non-null     int64
 14  num_angrys        56 non-null     int64
dtypes: float64(3), int64(6), object(6)
memory usage: 34.4 KB

In [4]:
fb = pd.read_csv('../zasoby/mrbean_facebook_statuses_with_nulls.csv', usecols=["status_message", "status_type", "link_name", "num_reactions", "num_shares", "num_likes"])

In [5]:
fb.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   status_message  40 non-null     object
 1   link_name       56 non-null     object
 2   status_type     56 non-null     object
 3   num_reactions   54 non-null     float64
 4   num_shares      56 non-null     float64
 5   num_likes       56 non-null     int64
dtypes: float64(2), int64(1), object(3)
memory usage: 16.1 KB

In [6]:
len(fb)

56

In [8]:
fb['status_type'].nunique()

3

In [9]:
fb['status_type'].value_counts()

status_type
video    32
photo    22
link      2
Name: count, dtype: int64

In [11]:
fb['status_type'] = fb['status_type'].astype('category')

In [12]:
fb['link_name'].nunique()

32

In [13]:
fb['link_name'].value_counts()

link_name
Timeline Photos                                                               22
www.youtube.com                                                                4
Mr. Bean - Sneezing and Snoozing In Church                                     1
Mr. Bean - Mystery creature                                                    1
Mr. Bean - Saxophone Player                                                    1
Mr. Bean - Elderly people on stairs                                            1
Rowan Atkinson: I will never wave goodbye to Mr Bean                           1
Mr. Bean's Happy Moments                                                       1
Mr. Bean - At the Disco                                                        1
Mr Bean - Preparing To Go Camping                                              1
Mr. Bean - Shopping for Towels                                                 1
Mr. Bean - Counting Sheep.                                                     1
Mr. Bean - High Dive                                                           1
Mr. Bean (NEW series) - The Lift                                               1
Mr Bean - Country fete games -- Volksfest Spiele                               1
Even in LEGO, Mr. Bean travels in comfort | The Brothers Brick | LEGO Blog     1
Mr. Bean - Making A Sandwich                                                   1
Mr. Bean (NEW series) - Ice Cream                                              1
Mr Bean - Crazy Golf                                                           1
Mr. Bean - Fixing Your Own Teeth                                               1
Mr Bean - Restaurant Etiquette                                                 1
Mr Bean (NEW series) - Litterbugs Clip                                         1
Mr. Bean - Alarm Clock                                                         1
Mr. Bean (NEW Series) - Dancing Bean                                           1
Mr. Bean - Embarrassing Moments Compilation                                    1
Mr. Bean - How to stop a baby from crying                                      1
Mr Bean - Dinner for Two                                                       1
Mr Bean - Chemistry experiment                                                 1
Mr Bean - Sun Block                                                            1
Mr Bean - Ray Of Sunshine                                                      1
Mr Bean - Broken Tooth                                                         1
Mr Bean - Prison Break                                                         1
Name: count, dtype: int64

In [14]:
fb['link_name'] = fb['link_name'].astype('category')

In [15]:
fb.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   status_message  40 non-null     object
 1   link_name       56 non-null     category
 2   status_type     56 non-null     category
 3   num_reactions   54 non-null     float64
 4   num_shares      56 non-null     float64
 5   num_likes       56 non-null     int64
dtypes: category(2), float64(2), int64(1), object(1)
memory usage: 12.4 KB

In [17]:
fb['num_reactions'].fillna(0, inplace=True)
fb['num_shares'].fillna(0, inplace=True)
fb['num_reactions'] = fb['num_reactions'].astype('int32')
fb['num_shares'] = fb['num_reactions'].astype('int32')

In [18]:
fb.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   status_message  40 non-null     object
 1   link_name       56 non-null     category
 2   status_type     56 non-null     category
 3   num_reactions   56 non-null     int32
 4   num_shares      56 non-null     int32
 5   num_likes       56 non-null     int64
dtypes: category(2), int32(2), int64(1), object(1)
memory usage: 12.0 KB