## LAB - S07-L008 - merge wielu obiektów data frame

1. Zaimportuj moduł pandas i numpy nadaj im standardowe aliasy
2. Do zmiennej suppliers zaimportuj zawartość pliku suppliers.csv. Pobierz tylko kolumny SupplierID, CompanyName, City
3. Do zmiennej products zaimportuj zawartość pliku products.csv. Pobierz tylko kolumny ProductID, ProductName, SupplierID, CategoryID
4. Do zmiennej categories zaimportuj zawartość pliku categories1.csv. Pobierz tylko kolumny CategoryID i CategoryName. Kolumna CategoryID ma być indeksem.
5. Połącz products i categories korzystając z CategoryID. Wynik zapisz w nowej zmiennej prod_cat
6. Połącz prod_cat z suppliers korzytając z SupplierID. Wynik zapisz w nowej zmiennej prod_cat_sup
7. Wykonaj złączenia opisane w krokach (5) i (6), ale bez stosowania pomocniczych zmiennych

In [1]:
import pandas as pd
import numpy as np

In [3]:
suppliers = pd.read_csv('../zasoby/nw/suppliers.csv', usecols=['SupplierID', 'CompanyName', 'City'])
products = pd.read_csv('../zasoby/nw/products.csv', usecols=['ProductID', 'ProductName', 'SupplierID', 'CategoryID'])
categories = pd.read_csv('../zasoby/nw/categories1.csv', usecols=['CategoryID', 'CategoryName'], index_col='CategoryID')

In [4]:
prod_cat = products.merge(right=categories, left_index=True, right_on='CategoryID')

In [5]:
prod_cat_sup = prod_cat.merge(right=suppliers, on='SupplierID')

In [6]:
prod_cat_sup.head()

,ProductID,ProductName,SupplierID,CategoryID,CategoryName,CompanyName,City
0,2,Chang,1,1,Beverages,Exotic Liquids,London
1,3,Aniseed Syrup,1,2,Condiments,Exotic Liquids,London
2,4,Chef Anton's Cajun Seasoning,2,2,Confections,New Orleans Cajun Delights,New Orleans
3,5,Chef Anton's Gumbo Mix,2,2,Dairy Products,New Orleans Cajun Delights,New Orleans
4,6,Grandma's Boysenberry Spread,3,2,Grains/Cereals,Grandma Kelly's Homestead,Ann Arbor

In [7]:
products.merge(right=categories, left_index=True, right_on='CategoryID').merge(right=suppliers, on='SupplierID').head()

,ProductID,ProductName,SupplierID,CategoryID,CategoryName,CompanyName,City
0,2,Chang,1,1,Beverages,Exotic Liquids,London
1,3,Aniseed Syrup,1,2,Condiments,Exotic Liquids,London
2,4,Chef Anton's Cajun Seasoning,2,2,Confections,New Orleans Cajun Delights,New Orleans
3,5,Chef Anton's Gumbo Mix,2,2,Dairy Products,New Orleans Cajun Delights,New Orleans
4,6,Grandma's Boysenberry Spread,3,2,Grains/Cereals,Grandma Kelly's Homestead,Ann Arbor