## LAB - S03-L002 - Metody i atrybuty Data Frame

1. Zaimportuj moduł pandas i nadaj mu standardowy alias. Do zmiennej fuel wczytaj zawartość pliku fuel.csv.Podczas wczytywania skorzystaj z dodatkowego argumentu low_memory=False, pobierz tylko następującekolumny: 'Vehicle ID','Year','Make','Model','Class','Fuel Type','Combined MPG (FT1)'. Wyświetl nagłówek tak utworzonego Data Frame
2. Wyświetl podstawowe informacje o obiekcie korzystając z metody info()
3. Wyświetl informację o typach każdej z poszczególnych kolumn
4. Ile razy jest wykorzystywany każdy z typów? Odpowiadając na pytanie skorzystaj z dedykowanej do tego funkcji.
5. Kolumna 'Make' zawiera informację o producentach samochodów. Wyświetl 10 producentów wraz z informacją o ilości samochodów tego producenta opisanych w obiekcie frame. Skorzystaj z dedykowanej dotego celu medody serii danych.
6. Wyświetl informacje o indeksie obiektu fuel
7. Wyświetl informacje o kolumnach obiektu fuel
8. Wyświetl informacje o wartościach obiektu fuel
9. Wyświetl informacje o "osiach" obiektu fuel
10. Wyświetl informacje o "kształcie" obiektu fuel - ile ma wierszy i ile kolumn
11. Porównaj co zwraca metoda count wywołana na rzecz frame, a...
12. co zwraca funkcja len

In [2]:
import pandas as pd

In [4]:
fuel = pd.read_csv('../zasoby/fuel.csv', low_memory=False, usecols=['Vehicle ID','Year','Make','Model','Class','Fuel Type','Combined MPG (FT1)'])

In [6]:
fuel.head()

,Vehicle ID,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
0,26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
1,27705,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
2,26561,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
3,27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
4,27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Regular,17.0

In [7]:
fuel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31684 entries, 0 to 31683
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Vehicle ID          31684 non-null  int64
 1   Year                31684 non-null  int64
 2   Make                31684 non-null  object
 3   Model               31683 non-null  object
 4   Class               31683 non-null  object
 5   Fuel Type           31683 non-null  object
 6   Combined MPG (FT1)  31683 non-null  float64
dtypes: float64(1), int64(2), object(4)
memory usage: 1.7+ MB

In [8]:
fuel.dtypes

Vehicle ID              int64
Year                    int64
Make                   object
Model                  object
Class                  object
Fuel Type              object
Combined MPG (FT1)    float64
dtype: object

In [10]:
fuel.dtypes.value_counts()

object     4
int64      2
float64    1
Name: count, dtype: int64

In [14]:
fuel['Make'].value_counts().head()

Make
Chevrolet    3389
Ford         2721
Dodge        2361
GMC          2174
Toyota       1599
Name: count, dtype: int64

In [18]:
fuel.index

RangeIndex(start=0, stop=31684, step=1)

In [16]:
fuel.columns

Index(['Vehicle ID', 'Year', 'Make', 'Model', 'Class', 'Fuel Type',
       'Combined MPG (FT1)'],
      dtype='object')

In [19]:
fuel.values

array([[26587, 1984, 'Alfa Romeo', ..., 'Minicompact Cars', 'Regular',
        20.0],
       [27705, 1984, 'Alfa Romeo', ..., 'Minicompact Cars', 'Regular',
        20.0],
       [26561, 1984, 'Alfa Romeo', ..., 'Two Seaters', 'Regular', 21.0],
       ...,
       [32065, 2012, 'Mitsubishi', ..., 'Compact Cars', 'Premium', 19.0],
       [32064, 2012, 'Mitsubishi', ..., 'Compact Cars', 'Premium', 19.0],
       [32106, 2012, 'Mitsubish', ..., nan, nan, nan]], dtype=object)

In [20]:
fuel.axes

[RangeIndex(start=0, stop=31684, step=1),
 Index(['Vehicle ID', 'Year', 'Make', 'Model', 'Class', 'Fuel Type',
        'Combined MPG (FT1)'],
       dtype='object')]

In [21]:
fuel.shape

(31684, 7)

In [26]:
fuel.count()

Vehicle ID            31684
Year                  31684
Make                  31684
Model                 31683
Class                 31683
Fuel Type             31683
Combined MPG (FT1)    31683
dtype: int64

In [28]:
len(fuel)

31684