## LAB - S03-L003 - Pobieranie danych z Data Frame

1. Zaimportuj moduł pandas i nadaj mu standardowy alias. Do zmiennej fuel wczytaj zawartość pliku fuel.csv. Podczas wczytywania skorzystaj z dodatkowego argumentu low_memory=False, pobierz tylko następujące kolumny: 'Vehicle ID','Year','Make','Model','Class','Fuel Type','Combined MPG (FT1)'.Pobierając dane oznach 'Vehicle ID' jako indeks. Wyświetl nagłówek tak utworzonego Data Frame
2. Wyświetl nagłówek serii zawierającej tylko dane z kolumny Make
3. Korzystając z funkcji wyświetlającej dla serii danych ilościowe informacje o wartościach z kolumny wyświetl 5 najczęściej ocenianych w pliku fuel producentów samochodów (kolumna Make)
4. Wyświetl informacje o samochodzie znajdujacym się pod indeksem Vehicle ID 1873
5. Wyświetl informacje o liczbie mil jakie można przejechać na galonie paliwa (kolumna Combined MPG(FT1)) dla samochodu pod indeksem Vehicle ID 1873
6. Sprawdź ile najwiecej mil da się przejechać samochodem na jednym galonie paliwa (innymi słowyposzukaj maksymalnej wartości w kolumnie Combined MPG (FT1))
7. Znajdź indeks opisujący samochód z wynikiem znalezionym w poprzednim punkcie...
8. ...a następnie posiadając ten indeks, wyświetl wszystkie dostępne w zmiennej fuel informacje o tym samochodzie.
9. Połącz polecenia, które zbudowałeś w 2 poprzednich punktach, tak, aby potrzebna informacja była uzyskiwana w pojedynczej instrukcji.
10. Utwórz nowy obiekt data frame nazwany shortFuel, który posiada tylko 2 kolumny skopiowane z obiektufuel: Make i Model.
11. Wyświetl nagłówek zmiennej shortFuel

In [1]:
import pandas as pd

In [2]:
fuel = pd.read_csv('../zasoby/fuel.csv', low_memory=False, usecols=['Vehicle ID','Year','Make','Model','Class','Fuel Type','Combined MPG (FT1)'], index_col='Vehicle ID')

In [3]:
fuel.head()

,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
Vehicle ID,,,,,,
26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
27705,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
26561,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Regular,17.0

In [4]:
fuel['Make'].head()

Vehicle ID
26587    Alfa Romeo
27705    Alfa Romeo
26561    Alfa Romeo
27681    Alfa Romeo
27550    AM General
Name: Make, dtype: object

In [5]:
fuel['Make'].value_counts().head()

Make
Chevrolet    3389
Ford         2721
Dodge        2361
GMC          2174
Toyota       1599
Name: count, dtype: int64

In [6]:
fuel.loc[1873]

Year                             1986
Make                       Mitsubishi
Model                         Starion
Class                 Subcompact Cars
Fuel Type                     Premium
Combined MPG (FT1)               19.0
Name: 1873, dtype: object

In [7]:
fuel.loc[1873, 'Combined MPG (FT1)']

19.0

In [20]:
fuel["Combined MPG (FT1)"].idxmax()

31673

In [21]:
fuel.loc[fuel["Combined MPG (FT1)"].idxmax()]

Year                             2012
Make                       Mitsubishi
Model                          i-MiEV
Class                 Subcompact Cars
Fuel Type                 Electricity
Combined MPG (FT1)              112.0
Name: 31673, dtype: object

In [22]:
shortFuel = fuel[['Make', 'Model']]

In [23]:
shortFuel.head()

                  Make               Model
Vehicle ID
26587       Alfa Romeo           GT V6 2.5
27705       Alfa Romeo           GT V6 2.5
26561       Alfa Romeo  Spider Veloce 2000
27681       Alfa Romeo  Spider Veloce 2000
27550       AM General   DJ Po Vehicle 2WD