## LAB - S03-L008-LAB Kontrola i optymalizacja typów danych

1. Zaimportuj moduł pandas oraz numpy i nadaj im standardowe aliasy. Do zmiennej fuel wczytaj zawartość pliku fuel.csv. Podczas wczytywania skorzystaj z dodatkowego argumentu low_memory=False, pobierz tylko następujące kolumny: 'Vehicle ID','Year','Make','Model','Class','Fuel Type','Combined MPG (FT1)'. Wyświetl nagłówek tak utworzonego Data Frame
2. Wyświetl informację o kolumnach (wykorzystywane typy, ilość obiektów nienullowych, dokładna informacja
o pamięci)
3. Skonwertuj kolumnę Year do typu int. Ponownie wyświetl informację o typach kolumn i użyciu pamięci
4. Sprawdź ile razy powtarzają się wartości w kolumnie Make
5. Zmień typ kolumny Make na category i ponownie wyświetl informację o pamięci konsumowanej przez ten typ
6. Powtórz kroki 4-5 dla kolumn: Model, Class, 'Fuel Type'.
7. Kolumnę 'Combined MPG (FT1)' skonwertuj do typu float
8. Porównaj rozmiar obiektu fuel na początku (krok 2) i na końcu (krok 6) - czy różnica jest wyraźna?

In [1]:
import pandas as pd
import numpy as np

In [2]:
fuel = pd.read_csv('../zasoby/fuel.csv', low_memory=False, usecols=['Vehicle ID','Year','Make','Model','Class','Fuel Type','Combined MPG (FT1)'])
fuel.head()

,Vehicle ID,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
0,26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
1,27705,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
2,26561,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
3,27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
4,27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Regular,17.0

In [5]:
fuel.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31684 entries, 0 to 31683
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Vehicle ID          31684 non-null  int64
 1   Year                31684 non-null  int64
 2   Make                31684 non-null  object
 3   Model               31683 non-null  object
 4   Class               31683 non-null  object
 5   Fuel Type           31683 non-null  object
 6   Combined MPG (FT1)  31683 non-null  float64
dtypes: float64(1), int64(2), object(4)
memory usage: 8.9 MB

In [8]:
fuel['Year'] = fuel['Year'].astype('int32')

In [9]:
fuel.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31684 entries, 0 to 31683
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Vehicle ID          31684 non-null  int64
 1   Year                31684 non-null  int32
 2   Make                31684 non-null  object
 3   Model               31683 non-null  object
 4   Class               31683 non-null  object
 5   Fuel Type           31683 non-null  object
 6   Combined MPG (FT1)  31683 non-null  float64
dtypes: float64(1), int32(1), int64(1), object(4)
memory usage: 8.8 MB

In [10]:
fuel['Make'].value_counts()

Make
Chevrolet                 3389
Ford                      2721
Dodge                     2361
GMC                       2174
Toyota                    1599
                          ...
General Motors               1
Panoz Auto-Development       1
Goldacre                     1
Panos                        1
Mitsubish                    1
Name: count, Length: 128, dtype: int64

In [11]:
fuel['Make'] = fuel['Make'].astype('category')

In [12]:
fuel.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31684 entries, 0 to 31683
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Vehicle ID          31684 non-null  int64
 1   Year                31684 non-null  int32
 2   Make                31684 non-null  category
 3   Model               31683 non-null  object
 4   Class               31683 non-null  object
 5   Fuel Type           31683 non-null  object
 6   Combined MPG (FT1)  31683 non-null  float64
dtypes: category(1), float64(1), int32(1), int64(1), object(3)
memory usage: 6.9 MB

In [13]:
fuel['Model'] = fuel['Model'].astype('category')
fuel['Class'] = fuel['Class'].astype('category')
fuel['Fuel Type'] = fuel['Fuel Type'].astype('category')

In [14]:
fuel.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31684 entries, 0 to 31683
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Vehicle ID          31684 non-null  int64
 1   Year                31684 non-null  int32
 2   Make                31684 non-null  category
 3   Model               31683 non-null  category
 4   Class               31683 non-null  category
 5   Fuel Type           31683 non-null  category
 6   Combined MPG (FT1)  31683 non-null  float64
dtypes: category(4), float64(1), int32(1), int64(1)
memory usage: 1.1 MB

In [17]:
fuel['Combined MPG (FT1)'] = fuel['Combined MPG (FT1)'].astype('float32')

In [18]:
fuel.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31684 entries, 0 to 31683
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Vehicle ID          31684 non-null  int64
 1   Year                31684 non-null  int32
 2   Make                31684 non-null  category
 3   Model               31683 non-null  category
 4   Class               31683 non-null  category
 5   Fuel Type           31683 non-null  category
 6   Combined MPG (FT1)  31683 non-null  float32
dtypes: category(4), float32(1), int32(1), int64(1)
memory usage: 962.9 KB