## LAB - S03-L013-LAB Duplikaty w data frame

1. Zaimportuj moduł pandas oraz numpy i nadaj im standardowe aliasy. Do zmiennej surveys wczytaj zawartość pliku StackOverflowDeveloperSurvey2018.csv. Pobierz tylko następujące kolumny: 'Country','Gender','OperatingSystem'. Skorzystaj z parametru low_memory=False. Wyświetl nagłówek tak utworzonego Data Frame.
2. Sprawdź czy kolumna Country zawiera wartości unikalne
3. Wyznacz wszystkie kraje, z jakich pochodzą uczestnicy ankiety. (Wystarczy jak wyświetlisz pierwszych kilka)
4. Policz ile tych krajów jest (raz pomijając wartość NaN a raz uwzględniając ją)
5. Utwórz serię wartości True/False duplicatesKeepFirst zawierającą informacje o tym czy wystąpienie kraju w surveys jest pierwsze czy kolejne
6. Wyświetl pierwszych kilka ankiet, które pochodzą z różnych krajów (skorzystaj z duplicatedKeepFirst)
7. Ile krajów zostanie zwróconych w poprzednim punkcie? Nim uruchomisz odpowiednie polecenie, spróbuj przewidzieć tą wartość
8. Usuń powtarzające się wiersze ze względu na wartości w kolumnach 'Country', 'OperatingSystem'
9. Wyświetl pozostałe w dataframe surveys wiersze dotyczące Twojego kraju

In [25]:
import pandas as pd
import numpy as np

In [26]:
surveys = pd.read_csv('../zasoby/StackOverflowDeveloperSurvey2018.csv', usecols=['Country','Gender','OperatingSystem'], low_memory=False)
surveys.head()

          Country OperatingSystem Gender
0           Kenya     Linux-based   Male
1  United Kingdom     Linux-based   Male
2   United States             NaN    NaN
3   United States         Windows   Male
4    South Africa         Windows   Male

In [27]:
surveys['Country'].is_unique

False

In [37]:
unique_countries = pd.Series(surveys['Country'].unique())

In [38]:
unique_countries.sort_values().head()

78     Afghanistan
85         Albania
27         Algeria
150        Andorra
108         Angola
dtype: object

In [39]:
len(unique_countries)

184

In [40]:
len(surveys['Country'].unique())

184

In [41]:
surveys.Country.nunique()

183

In [42]:
duplicatesKeepFirst = surveys.duplicated(subset="Country")

In [43]:
duplicatesKeepFirst

0        False
1        False
2        False
3         True
4        False
         ...
98850     True
98851     True
98852     True
98853     True
98854     True
Length: 98855, dtype: bool

In [47]:
surveys[~duplicatesKeepFirst]

                                     Country OperatingSystem  Gender
0                                      Kenya     Linux-based    Male
1                             United Kingdom     Linux-based    Male
2                              United States             NaN     NaN
4                               South Africa         Windows    Male
7                                    Nigeria         Windows  Female
...                                      ...             ...     ...
86051                                Eritrea     Linux-based    Male
89738  Democratic People's Republic of Korea             NaN     NaN
92028                               Djibouti             NaN     NaN
93487                                    NaN             NaN     NaN
96975                          Guinea-Bissau             NaN     NaN

[184 rows x 3 columns]

In [53]:
len(surveys[~duplicatesKeepFirst])

184

In [55]:
surveys.drop_duplicates(subset=['Country', 'OperatingSystem'],inplace=True)

In [56]:
surveys.query("Country == 'Poland'")

      Country OperatingSystem Gender
30     Poland     Linux-based   Male
34     Poland         Windows   Male
232    Poland             NaN    NaN
854    Poland           MacOS   Male
72587  Poland        BSD/Unix    NaN